<% if user_signed_in? %>

    <div class="row">
        <div class="span8">

            <div id="event-panel" class="center">
                <div class="row">

                    <%= link_to "Create New Event", new_event_path, id: "createEventBtn" %> 

                    <!-- Not implementing in this step: <button class="btn btn-primary" type="button">Manage Groups</button> -->

                    <!-- Not implementing yet: <h1>Pending Events</h1> -->
                    <h2>Event History</h2>
                    <% if @participationInEvent.any? %>

                        <table class="table">
                            <% @participationInEvent.each do |event| %>
                                <tr>
                                    <td>
                                        <%= event.title %>
                                    </td>
                                    <td>
                                        <!-- need link to event page/path -->
                                        <%= link_to "Event Details", event %>
                                    </td>
                                    <td>
                                        <%= link_to "Delete event", event, method: :delete, data: {confirm: 'Are you sure?' } %>
                                </tr>
                            <% end %>
                        </table>


                    <% else %>
                        <p class="center"> You don't seem to have participated in any events.</p>
                    <% end %>


                </div>

            </div>
        </div>


        <div class="span4">
            <%= render "debtpanel" %>
        </div>
    </div>


<%else%>
    <%= render "notloggedin" %>
<%end%>



