<div class="row">
  <div class="span8 offset2">
    <div class="welcomeContainer">

      <div class="welcomeContent">
        <h2>Create an Event</h2>
      </div>

      <div class="createEventBox">
        <div class="row">
          <div class="span5 offset1">

            <%= nested_form_for(@event) do |f| %>

              <%= render 'partials/error_messages', object: f.object %>

              <%= f.label :title %>
              <%= f.text_field :title, class:"inputWrap", placeholder: "Event Title", :autofocus => true %>

              <%= f.label :description %>
              <%= f.text_area :description, class:"inputWrap", placeholder: "What was the event?", :rows => 5 %>

              <%= f.label :amount %>
              <%= f.number_field :amount, class:"inputWrap", min: 0, placeholder: "Total Amount" %>

              <p>Participants:</p>

              <%= f.fields_for :contributions do |p| %>
                <%= p.email_field :email, placeholder: "Email"  %> <br>
                $<%= p.number_field :amount, min: 0, placeholder: "Owes" %><br>
                $<%= p.number_field :paid, min: 0, placeholder: "Paid" %>
                <%= p.link_to_remove "Remove" %>
              <% end %>

              <p><%= f.link_to_add "Add Participant", :contributions %></p>

              <div class="center">
              <%= f.submit "Create Event", class: "btn btn-large btn-inverse" %>
              </div>
            <% end %>



          </div>
        </div>
      </div>

    </div>
  </div>
</div>
