<!-- author: Angel/Lucy -->
<div class="row">
    <div class="span8 offset2">
        <div class="welcomeContainer">

            <div class="welcomeContent">
                <h2>Create an Event</h2>
            </div>

            <div class="createEventBox">
                <div class="row">
                    <div class="span7">

                        <%= nested_form_for(@event) do |f| %>

                            <%= render 'partials/error_messages', object: f.object %>

                            <%= f.label :title %>
                            <%= f.text_field :title, class:"inputWrap", placeholder: "Event Title", :autofocus => true %>

                            <%= f.label :description %>
                            <%= f.text_area :description, class:"inputWrap", placeholder: "What was the event?", :rows => 5 %>

                            <%= f.label :amount %>
                            <%= f.number_field :amount, class:"inputWrap", min: 0, placeholder: "Total Amount" %>

                            <br><br>

                            <p>Participants:</p>

                            <%= f.fields_for :contributions do |p| %>
                                <div class="participDiv">

                                    <div class="controls controls-row">
                                        <%= p.email_field :email, class: "span2", placeholder: "Email"  %>
                                        <%= p.number_field :amount, class: "span2", min: 0, placeholder: "$ Owes" %>
                                        <%= p.number_field :paid, class: "span2", min: 0, placeholder: "$ Paid" %>
                                    </div>
                                </div>
                            <% end %>

                            <p><%= f.link_to_add "add another", :contributions , class:"smallGreyBtn"%></p>

                            <div class="center">
                                <%= f.submit "Create Event", class: "welcomeBtn" %>
                            </div>
                        <% end %>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
