<!-- author: Angel/Lucy -->
<div class="row">
    <div class="span8 offset2">
        <div class="welcomeContainer">

            <div class="welcomeContent">
                <h2>Create an Event</h2>
            </div>

            <div class="createEventBox">
                <div class="row">
                    <div class="span7">

                        <%= nested_form_for(@event) do |f| %>

                            <%= render 'partials/error_messages', object: f.object %>

                            <%= f.label :title %>
                            <%= f.text_field :title, class:"inputWrap", placeholder: "Event Title", :autofocus => true %>

                            <%= f.label :description %>
                            <%= f.text_area :description, class:"inputWrap", placeholder: "What was the event?", :rows => 5 %>

                            <%= f.label :amount %>
                            <%= f.text_field :amount, class:"inputWrap", placeholder: "Total Amount (ie. $20.00)" %>

                            <br><br>
                            Optional: Fill in total and participant emails, then click <input type="button" id="evenPay" class="btn btn-mini" value="Even Split"></input>
                            <br><br>

                            <p>Participants (blank emails are ignored):</p>

                            <%= f.fields_for :contributions do |p| %>
                                <div class="participDiv">

                                    <div class="controls controls-row">
                                        <%= p.email_field :email, class: "span2 contrEmail", placeholder: "Email"  %>
                                        <%= p.text_field :amount, class: "span2 contrAmt",  placeholder: "$ Owes" %>
                                        <%= p.text_field :paid, class: "span2 contrPaid", placeholder: "$ Paid" %>
                                    </div>
                                    <%= p.link_to_remove "Remove" %>
                                </div>
                            <% end %>

                            <p><%= f.link_to_add "add another", :contributions , class:"smallGreyBtn"%></p>

                            <div class="center">
                                <%= f.submit "Create Event", class: "welcomeBtn" %>
                            </div>
                        <% end %>

                    </div>
                </div>
            </div>

            <div class="links">
                <%= link_to "back", root_url %>
            </div>

        </div>
    </div>
</div>

<%= render "new.js" %>
