<!-- primary author: Lucy -->
<div class="row">
    <div class="span8 offset2">
        <div class="welcomeContainer">

            <div class="eventTitleDiv">
                <h2><%= @event.title %></h2>
            </div>

            <div class="row">
                <div class="span6 offset1">

                    <hr />

                    <div class="eventDetailDiv">
                        <div>
                            <p class="descr">Description</p>
                            <%= @event.description %>
                        </div>
                        <div>
                            <strong>Total bill: </strong> <%= @event.amount %>
                        </div>

                        <p class="descr">Participants</p>
                        <% @contributions.each do |contribution|%>
                            <div>
                                <%= contribution.user.email %> paid $<%= number_with_precision(contribution.paid, precision:2) %> of their share of $<%= number_with_precision(contribution.amount, precision:2) %>
                            </div>
                        <% end %>
                    </div>


                </div>
            </div>

            <div class="links">
                <%= link_to "back", root_url %>
            </div>
        </div>
    </div>
</div>

