<!DOCTYPE html>
<html>
	<head>
  		<title>Friendsplitter</title>
  		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  		<%= csrf_meta_tags %>
		<%= csrf_meta_tags %>
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
	 	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	 	<!--used in order to pass user authentication in AJAX  calls-->
	 	<script> $(document).ajaxSend(function(e, xhr, options) {
  			var token = $("meta[name='csrf-token']").attr("content");
  			xhr.setRequestHeader("X-CSRF-Token", token);
			});
	 	</script>
	</head>
	
	<body >

		<!-- Navigation Bar -->
    <%= render 'partials/navbar' %>

		<div class="wrapper">

			<div class="row" style="height:1000px;background-color:#adafb2">
				<div class="col-mid-2" id="side-bar">
				</div>
				<div class="col-mid-10" style="margin:0px;padding:0px;height:100%">
					<div style="margin:0px;height:100%;width:100%">
						<%= yield %>
					</div>
				</div>
			</div>
			
		</div>

	</body>
</html>